@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply min-w-[870px];
  }
  fieldset {
    @apply block ms-1 me-1 ps-2 pe-2 pb-2 contain-inline-size;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
  }
  input {
    @apply border-b-red-500 border-dashed border-b w-full h-5;
  }

  #surge_comparison_test_form {
    fieldset {
      justify-content: space-between;
      input[type="text"] {
        flex-basis: 20%;
      }
      div:nth-child(2) > span:first-child {
        flex-basis: 20%;
      }
      div:nth-child(2) > span:last-child {
        flex-basis: 80%;
      }
      div:nth-child(3) > span {
        flex-basis: 10%;
      }
      div:nth-child(4) > span {
        flex-basis: 10%;
      }
    }
  }
  #connection_form {
    fieldset {
      div > span {
        @apply w-full border border-black border-collapse;
      }

      div > div.inline-flex {
        @apply w-full border border-black border-collapse justify-center ml-0 p-2;
      }
    }
  }

  #rotation_from_nde_form {
    fieldset {
      div > span {
        @apply w-full border border-black border-collapse;
      }

      div > div.inline-flex {
        @apply w-full border border-black border-collapse justify-center ml-0 p-2;
      }
    }
  }

  #locked_rotor_test_form {
    fieldset {
      span,
      input {
        @apply border border-collapse border-black w-full border-solid;
      }
    }
  }

  #locked_rotor_dc_test_form > fieldset {
    div {
      @apply justify-between;
    }
    div:nth-child(2) > span {
      @apply w-full border border-collapse border-black;
    }
    div:nth-child(3) {
      @apply border border-collapse border-black;
    }
    div:nth-child(3) > span:first-child {
      @apply w-2/6 border border-black;
    }
  }

  #running_test_form > fieldset {
    input,
    span {
      @apply w-full border border-black border-collapse;
    }
  }

  #dynamic_test_incoming_form > fieldset {
    input,
    span {
      @apply w-full border border-black border-collapse;
    }
  }
  #dynamic_test_final_form > fieldset {
    input,
    span {
      @apply w-full border border-black border-collapse;
    }
  }

  #running_test_final_mv_form > fieldset {
    input,
    span {
      @apply w-full border border-black border-collapse;
    }
  }

  #dynamic_test_running_test_slow_form > fieldset {
    input,
    span {
      @apply w-full border border-black border-collapse;
    }
  }

  #dynamic_test_running_test_fast_form > fieldset {
    input,
    span {
      @apply w-full border border-black border-collapse;
    }
  }
}
