@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply min-w-[900px];
  }
  fieldset {
    @apply block ms-1 me-1 ps-2 pe-2 pb-2 contain-inline-size;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
  }
  input {
    @apply border-b-red-500 border-dashed border-b w-full h-5;
  }

  #surge_comparison_test_form {
    fieldset {
      justify-content: space-between;
      input[type="text"] {
        flex-basis: 20%;
      }
      div:nth-child(2) > span:first-child {
        flex-basis: 20%;
      }
      div:nth-child(2) > span:last-child {
        flex-basis: 80%;
      }
      div:nth-child(3) > span {
        flex-basis: 10%;
      }
      div:nth-child(4) > span {
        flex-basis: 10%;
      }
    }
  }
  #connection_form,
  #rotation_from_nde_form {
    fieldset {
      div > span {
        @apply w-full border border-black border-collapse;
      }

      div > div.inline-flex {
        @apply w-full border border-black border-collapse justify-center ml-0 p-2;
      }
    }
  }

  #locked_rotor_test_form {
    fieldset {
      span,
      input {
        @apply border border-collapse border-black w-full border-solid;
      }
    }
  }

  #locked_rotor_dc_test_form > fieldset {
    div {
      @apply justify-between;
    }
    div:nth-child(2) > span {
      @apply w-full border border-collapse border-black;
    }
    div:nth-child(3) {
      @apply border border-collapse border-black;
    }
    div:nth-child(3) > span:first-child {
      @apply w-2/6 border border-black;
    }
  }

  #insulation_test_form > fieldset,
  #polarization_index_form > fieldset,
  #running_test_form > fieldset,
  #dynamic_test_incoming_form > fieldset,
  #dynamic_test_final_form > fieldset,
  #running_test_final_mv_form > fieldset,
  #dynamic_test_running_test_slow_form > fieldset,
  #dynamic_test_running_test_fast_form > fieldset,
  #running_test_single_phase_form > fieldset,
  #dynamic_test_dc_form > fieldset,
  #vibration_test_bearing_test_form > fieldset,
  #vibration_test_bearing_test_incoming_mv_form > fieldset,
  #vibration_test_bearing_test_incoming_time_mv_form > fieldset,
  #vibration_test_bearing_test_final_time_mv_form > fieldset,
  #mechanical_repairing_form > fieldset {
    input,
    span {
      @apply w-full border border-black border-collapse;
    }
  }

  #summary_of_electrical_work_form > fieldset {
    * {
      @apply w-full my-[0.05rem];
    }
  }
  #summary_of_mechanical_work_form > fieldset {
    > div {
      @apply my-1;
    }
  }

  #summary_of_electrical_work_form > fieldset {
    div:nth-child(2) > span {
      @apply text-center font-bold;
    }
  }

  #summary_of_mechanical_work_form > fieldset {
    div > span {
      @apply w-full;
    }
    div:nth-child(2) > span,
    div:nth-child(3) > span {
      @apply text-left font-bold;
    }
    #bearing_de_value,
    #bearing_nde_value {
      @apply w-24;
    }
    div:nth-child(9) > label + input,
    div:nth-child(10) > label + input {
      @apply w-20;
    }
    div:nth-child(11) > span,
    div:nth-child(12) > span {
      @apply mr-2;
    }
    div:nth-child(n + 17) > span,
    div:nth-child(35) > span,
    div:nth-child(36) > span {
      @apply text-left ml-6 -mr-6;
    }
    div:nth-child(32) > span,
    div:nth-child(33) > span,
    div:nth-child(34) > span,
    div:nth-child(n + 37) > span {
      @apply text-left ml-0 mr-0;
    }
    div:nth-child(43) > span {
      @apply pr-10;
    }

    #surface_finish_note {
      @apply pr-20;
    }
    div:last-child {
      @apply py-5;
    }
  }
}
